.section {
    padding: 100px 0 50px;
}

.section .heading {
    margin-bottom: 60px;
}

.section .heading:before {
    content: '';
    height: 10px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    background: #FFA804;
}

.experience-section {
    background: #28023D;
    color: #fff;
}
