// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "styles";
@import "colours";
@import "text";
@import "section";
@import "progress";
@import "transition";
@import "header";
@import "intro_section";
@import "plugins/ionicons.css";

.white-section .list > li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    display: block;
    border-radius: 10px;
    border: 2px solid #777;;
}

.white-section .list > li {
    color: #777;
}
